## Data Exploration
Preliminary notebook to get a "feel" of the data before I create the ETL script

In [ ]:
# notes from instructions:

In [194]:
import pandas as pd

In [195]:
# constituent information
pd.read_csv(r'data/cons.csv').columns

Index(['cons_id', 'prefix', 'firstname', 'middlename', 'lastname', 'suffix',
       'salutation', 'gender', 'birth_dt', 'title', 'employer', 'occupation',
       'income', 'source', 'subsource', 'userid', 'password', 'is_validated',
       'is_banned', 'change_password_next_login', 'consent_type_id',
       'create_dt', 'create_app', 'create_user', 'modified_dt', 'modified_app',
       'modified_user', 'status', 'note'],
      dtype='object')

In [196]:
df_cons=pd.read_csv(r'data/cons.csv', usecols=['cons_id', 'firstname',
                                               'middlename', 'lastname',
                                              'source', 'subsource', 'create_dt', 'modified_dt'])
print(df_cons.columns)
df_cons.head(3)

Index(['cons_id', 'firstname', 'middlename', 'lastname', 'source', 'subsource',
       'create_dt', 'modified_dt'],
      dtype='object')

,cons_id,firstname,middlename,lastname,source,subsource,create_dt,modified_dt
0,1,NaN,Lee,NaN,google,NaN,"Fri, 1983-08-26 06:02:03","Sun, 2015-12-27 09:28:02"
1,2,NaN,NaN,NaN,facebook,pRzBAZSGNScwCyreCEYr,"Mon, 1979-03-05 21:08:54","Tue, 1989-06-20 13:28:57"
2,3,NaN,David,King,NaN,UAWXnALxxBXmwbPibFdw,"Fri, 2008-08-22 19:20:28","Fri, 2020-06-05 18:13:57"

In [197]:
df_cons[['source', 'subsource']][:5]

     source             subsource
0    google                   NaN
1  facebook  pRzBAZSGNScwCyreCEYr
2       NaN  UAWXnALxxBXmwbPibFdw
3    google                   NaN
4       NaN                   NaN

In [198]:
# constituent email addresses
# note: bool cols (including is_primary) are all 1/0 for True/False

In [199]:
emails=pd.read_csv(r'data/cons_email.csv', usecols=['cons_email_id', 'cons_id',
                                                    'cons_email_type_id',
                                                    'is_primary', 'email',])
print(emails.columns)
emails.head(3)

Index(['cons_email_id', 'cons_id', 'cons_email_type_id', 'is_primary',
       'email'],
      dtype='object')

,cons_email_id,cons_id,cons_email_type_id,is_primary,email
0,1,548198,3361,1,xmartinez@vincent.com
1,2,491137,2474,1,hmiller@haynes.biz
2,3,413429,5175,1,aaron64@yahoo.com

In [200]:
# constituent subscription status
# if email NULL or not present, assumed to be still sub'd
# only care about subscription status where chapter_id is 1

In [93]:
subs = pd.read_csv(r'data/cons_email_chapter_subscription.csv')
print(subs.columns)
subs.head(3)

Index(['cons_email_chapter_subscription_id', 'cons_email_id', 'chapter_id',
       'isunsub', 'unsub_dt', 'modified_dt'],
      dtype='object')

,cons_email_chapter_subscription_id,cons_email_id,chapter_id,isunsub,unsub_dt,modified_dt
0,1,332188,1,1,"Sat, 1971-06-12 15:38:44","Thu, 1990-06-28 10:54:20"
1,2,536526,1,1,"Wed, 2006-07-12 01:50:45","Thu, 1979-09-20 06:02:35"
2,3,134711,1,1,"Tue, 1987-01-06 13:05:15","Sun, 1974-03-03 15:11:50"

In [115]:
subs = subs[subs.chapter_id==1]
(subs.chapter_id==1).all()

True

In [ ]:
# join subs and email list on cons_email_id

In [127]:
subs_emails = subs.join(emails.set_index('cons_email_id'),
                on='cons_email_id',
                how='left',
                lsuffix='_sub_status', rsuffix='_email')

In [209]:
# there are no blank emails
(subs_emails['email'].str.isspace()).any()

False

In [210]:
# there are no null emails
(subs_emails['email'].isnull()).any()

False

In [201]:
# LEFT join == LEFT OUTER
print(len(subs_emails))
print(len(subs))

275484
275484

In [215]:
# check for accuracy
subs_emails

,cons_email_chapter_subscription_id,cons_email_id,chapter_id,isunsub,unsub_dt,modified_dt,cons_id,cons_email_type_id,is_primary,email
0,1,332188,1,1,"Sat, 1971-06-12 15:38:44","Thu, 1990-06-28 10:54:20",558514,2582,1,santiagoeric@hunt.info
1,2,536526,1,1,"Wed, 2006-07-12 01:50:45","Thu, 1979-09-20 06:02:35",12447,9716,0,amandabullock@cunningham-brown.com
2,3,134711,1,1,"Tue, 1987-01-06 13:05:15","Sun, 1974-03-03 15:11:50",49952,1757,1,michael06@torres-baker.com
3,4,660345,1,1,"Sat, 2016-08-06 11:06:09","Wed, 1995-09-13 23:45:03",27409,830,0,rosalessteven@yahoo.com
4,5,184268,1,1,"Sun, 2000-05-28 02:20:45","Sat, 1983-12-10 08:09:58",76099,9744,1,matthewjohnson@vazquez.com
5,6,621735,1,1,"Wed, 2009-12-09 14:08:54","Sat, 1990-09-01 06:53:49",634103,7193,0,qmcdaniel@hotmail.com
6,7,449159,1,1,"Fri, 2001-02-16 03:25:34","Fri, 2018-04-27 17:26:03",386356,6244,0,castillosherri@yahoo.com
7,8,684697,1,1,"Wed, 1988-06-29 09:32:53","Mon, 1978-06-12 17:50:09",190419,705,1,thomassanchez@harris-park.com
8,9,247669,1,1,"Tue, 2003-07-08 23:52:27","Wed, 1972-08-09 06:43:57",675032,7171,0,igonzales@odom.biz
9,10,298884,1,1,"Sat, 1986-09-20 16:39:10","Wed, 1974-09-25 07:52:08",622465,7159,1,cynthiaprice@hotmail.com
10,11,117253,1,1,"Fri, 1971-06-18 11:29:48","Sat, 2008-03-01 20:03:34",626589,1588,1,hreed@thomas.com
11,12,237398,1,1,"Fri, 2014-09-19 09:39:49","Sun, 1993-01-31 09:02:23",15142,7884,0,masonashley@yahoo.com
12,13,559072,1,1,"Thu, 2005-08-11 09:30:51","Thu, 2007-09-06 14:00:12",682464,1799,0,racosta@strickland.com
13,14,108069,1,1,"Tue, 1995-06-20 09:21:07","Thu, 2006-04-13 06:15:29",535726,6525,1,velliott@brown-knox.com
14,15,549500,1,1,"Mon, 1980-04-28 21:47:01","Mon, 1974-04-29 04:59:14",185186,5623,1,alyssasmith@robertson.net
15,16,396990,1,1,"Thu, 1972-03-09 21:27:32","Sun, 2017-05-28 00:30:17",106253,2177,0,jasminepeck@diaz-banks.biz
16,17,175961,1,1,"Sat, 1997-12-27 23:56:58","Fri, 1998-07-03 02:54:48",108800,6392,1,steven45@miller.biz
17,18,159485,1,1,"Wed, 1991-02-27 11:41:37","Sat, 1973-11-17 15:20:25",58255,1096,0,alvaradosavannah@bryan.com
18,19,378031,1,1,"Thu, 1988-02-18 05:34:08","Wed, 1975-01-15 22:24:35",22616,4475,0,walteradrienne@bradley.com
19,20,636604,1,1,"Sun, 2015-08-16 23:34:49","Tue, 1991-07-09 00:45:21",235020,3645,0,johnsoncarrie@yahoo.com
20,21,602649,1,1,"Mon, 1983-03-21 16:57:51","Mon, 2004-03-22 12:35:55",587442,8244,1,austinsanford@yahoo.com
21,22,562319,1,1,"Mon, 2004-10-25 00:55:23","Sun, 2006-10-15 00:00:16",449421,4969,1,znolan@hernandez.com
22,23,487695,1,1,"Sat, 2011-10-15 18:36:36","Tue, 2005-10-11 00:14:07",632373,1693,1,fisherconnie@gmail.com
23,24,369897,1,1,"Fri, 1985-08-09 05:31:15","Thu, 1997-06-05 05:16:38",22054,3459,0,adrian73@anderson-ortiz.com
24,25,343284,1,1,"Thu, 1989-02-16 12:31:22","Fri, 1976-08-13 20:56:04",442405,8039,1,joshua58@gmail.com
25,26,562159,1,1,"Sat, 1981-03-21 03:21:02","Sun, 1997-12-14 13:05:47",266574,6142,0,stacyclayton@hotmail.com
26,27,647005,1,0,"Mon, 1996-01-29 13:27:51","Tue, 1978-07-18 05:48:40",513553,8325,0,courtney19@gmail.com
27,28,54029,1,1,"Mon, 1971-02-08 19:53:15","Wed, 2004-06-02 01:10:52",279148,2236,1,keith28@hotmail.com
28,29,218587,1,1,"Wed, 1974-01-02 20:33:47","Sun, 2006-07-16 12:44:14",200801,1519,1,sarahcollier@hotmail.com
29,30,349300,1,1,"Sun, 2008-11-02 15:32:22","Mon, 2009-03-16 09:33:06",100219,9799,0,danielbarton@patterson.com
...,...,...,...,...,...,...,...,...,...,...
349952,349953,657506,1,1,"Thu, 2019-05-09 07:12:12","Tue, 1994-08-23 13:21:57",56341,3238,0,clarkfrank@yahoo.com
349954,349955,274716,1,1,"Sat, 1985-11-23 18:23:37","Thu, 2013-05-16 23:00:43",274,8569,1,proctorbrianna@perez.net
349957,349958,236638,1,1,"Wed, 1978-05-10 01:53:34","Fri, 2011-05-27 06:13:11",270513,1136,1,stevenwalker@norton-campbell.com
349959,349960,312208,1,1,"Fri, 1988-03-04 04:14:23","Tue, 1995-10-10 04:53:29",4799,497,1,acostalynn@jackson-johnson.org
349960,349961,690982,1,1,"Tue, 1994-03-15 22:22:17","Sun, 2005-07-31 03:58:35",214633,3286,1,kaitlynbolton@bush.biz
349961,349962,289473,1,0,"Mon, 1979-06-18 21:37:21","Sun, 1984-12-30 07:47:15",311928,4967,0,hjohnston@cohen-lynch.com
349962,349963,588419,1,1,"Sat, 2016-10-08 04:58:21","Fri, 2008-12-05 13:33:38",359917,4137,0,arthurwilkins@watson-brown.com
349963,349964,117747,1,1,"Thu, 1972-05-25 09:26:21","Tue, 1987-10-13 01:49:28",259525,9736,1,hillkimberly@hotmail.com
349965,349966,188546,1,1,"Sun, 1993-12-26 21:10:46","Sun, 2015-11-08 07:33:33",470935,7406,1,ndavis@marshall.info
349966,349967,540274,1,1,"Sat, 1975-01-11 10:06:33","Fri, 2000-03-31 02:59:00",583240,501,1,glenn15@hotmail.com
349967,349968,406884,1,1,"Tue, 1970-10-20 02:12:01","Fri, 1988-09-30 08:56:35",14223,4029,1,jacobturner@gmail.com
349968,349969,250043,1,0,"Thu, 2007-01-11 18:55:09","Thu, 1975-08-21 18:36:09",198334,3966,0,jessicaharris@rodriguez.com
349969,349970,534870,1,1,"Thu, 2004-10-28 12:22:29","Wed, 1971-04-07 15:43:00",537219,7911,1,cameronhammond@gmail.com
349971,349972,624008,1,1,"Sat, 2011-10-29 03:40:33","Wed, 2005-10-12 11:50:11",400946,8317,0,tlarsen@white.net
349972,349973,645257,1,1,"Tue, 2016-02-16 01:25:13","Mon, 1999-03-08 05:26:52",210119,8091,0,longmelissa@powell.net
349975,349976,216591,1,1,"Sun, 1996-02-25 14:07:36","Tue, 2005-09-27 20:29:53",538622,2305,0,lyonslucas@gmail.com
349981,349982,342472,1,1,"Tue, 2010-09-07 15:27:06","Fri, 2019-08-16 15:27:03",243394,515,1,wilkinsjessica@carey.com
349983,349984,368375,1,1,"Sat, 1999-10-23 04:54:02","Sat, 1999-06-05 18:05:17",533290,4526,0,pricechristine@moore.org
349984,349985,337048,1,1,"Mon, 1978-02-20 18:55:05","Mon, 1999-06-14 17:04:30",160168,2717,0,khayden@wilson-bentley.org
349985,349986,308479,1,1,"Tue, 2017-12-26 12:51:56","Thu, 2006-11-16 06:09:13",507104,7716,1,francesroberts@martinez.com
349987,349988,572925,1,0,"Mon, 2003-02-24 01:56:05","Fri, 2015-11-06 13:22:28",570227,6980,0,kwhite@baker.com
349988,349989,629901,1,1,"Thu, 1990-08-23 06:37:54","Wed, 1978-09-27 18:55:07",632499,3703,1,mwillis@hotmail.com
349989,349990,329188,1,1,"Thu, 1996-08-22 15:16:22","Sun, 2012-12-23 04:12:38",36460,1476,1,jacksontimothy@gmail.com
349990,349991,328326,1,1,"Mon, 1976-07-12 22:09:12","Wed, 2004-12-01 14:23:25",559320,8555,0,edward93@roberts.com
349992,349993,360166,1,1,"Wed, 2015-10-07 02:34:32","Mon, 2004-01-05 05:56:10",445648,4863,0,andrewwhite@yahoo.com
349993,349994,46626,1,1,"Fri, 1993-07-23 02:31:40","Wed, 1970-03-18 23:08:14",432275,2825,1,ramirezclaudia@hudson.biz
349994,349995,402129,1,1,"Sun, 2007-09-30 02:07:08","Mon, 1995-06-12 09:13:31",516608,4867,1,smithjeremiah@walter.com
349995,349996,221579,1,1,"Sun, 1974-09-22 21:20:50","Sat, 1970-03-07 23:01:52",510987,7841,1,susanhess@morton.com
349996,349997,550808,1,1,"Sat, 2018-05-12 03:12:58","Wed, 1990-08-29 21:23:06",406304,670,1,greendalton@mata.com
349998,349999,570,1,1,"Sun, 1982-11-28 17:43:05","Fri, 2000-10-20 23:39:51",613668,8789,1,xcurtis@yahoo.com

In [216]:
emails[emails.cons_email_id==216591]

,cons_email_id,cons_id,cons_email_type_id,is_primary,email
216590,216591,538622,2305,0,lyonslucas@gmail.com

In [211]:
# join subs_emails with cons to get person creation / update time
alldata = subs_emails.join(df_cons.set_index('cons_id'), on='cons_id'
                          , how='left', lsuffix='subsemails',rsuffix='cons')
alldata

,cons_email_chapter_subscription_id,cons_email_id,chapter_id,isunsub,unsub_dt,modified_dtsubsemails,cons_id,cons_email_type_id,is_primary,email,firstname,middlename,lastname,source,subsource,create_dt,modified_dtcons
0,1,332188,1,1,"Sat, 1971-06-12 15:38:44","Thu, 1990-06-28 10:54:20",558514,2582,1,santiagoeric@hunt.info,NaN,Molly,Cobb,NaN,CFoxSKPolgsqBnRMvDMk,"Sun, 2002-03-17 02:35:08","Sat, 2011-03-26 20:08:01"
1,2,536526,1,1,"Wed, 2006-07-12 01:50:45","Thu, 1979-09-20 06:02:35",12447,9716,0,amandabullock@cunningham-brown.com,NaN,Amy,Adkins,organic,zcqRLbWEZMTlwOaWmbug,"Sat, 2012-12-15 00:23:24","Wed, 2010-03-03 12:38:21"
2,3,134711,1,1,"Tue, 1987-01-06 13:05:15","Sun, 1974-03-03 15:11:50",49952,1757,1,michael06@torres-baker.com,Victor,NaN,Morrison,google,uPKiNNVkbftdwIeuvHkl,"Thu, 1987-12-17 00:22:11","Mon, 2012-11-26 18:07:20"
3,4,660345,1,1,"Sat, 2016-08-06 11:06:09","Wed, 1995-09-13 23:45:03",27409,830,0,rosalessteven@yahoo.com,Jennifer,Zachary,Scott,twitter,BGLlcgUlxhlKUIeQAkjN,"Sun, 1989-07-16 22:14:29","Sun, 1980-08-10 09:19:53"
4,5,184268,1,1,"Sun, 2000-05-28 02:20:45","Sat, 1983-12-10 08:09:58",76099,9744,1,matthewjohnson@vazquez.com,NaN,Gregory,Fleming,facebook,hnRivrBsTZsuYGDchodE,"Tue, 1976-07-27 11:26:08","Mon, 2004-05-03 18:40:04"
5,6,621735,1,1,"Wed, 2009-12-09 14:08:54","Sat, 1990-09-01 06:53:49",634103,7193,0,qmcdaniel@hotmail.com,NaN,NaN,NaN,organic,NaN,"Thu, 2004-12-02 19:05:22","Tue, 2000-06-27 07:18:47"
6,7,449159,1,1,"Fri, 2001-02-16 03:25:34","Fri, 2018-04-27 17:26:03",386356,6244,0,castillosherri@yahoo.com,NaN,Julie,NaN,NaN,XlBNUqpdOXNdABPdcmEk,"Sun, 1972-05-28 06:31:49","Wed, 2006-02-22 12:52:35"
7,8,684697,1,1,"Wed, 1988-06-29 09:32:53","Mon, 1978-06-12 17:50:09",190419,705,1,thomassanchez@harris-park.com,NaN,Peter,NaN,twitter,myNeTwGCcoeKiiSgbOLa,"Sat, 1997-08-16 03:42:55","Fri, 1971-03-05 21:36:16"
8,9,247669,1,1,"Tue, 2003-07-08 23:52:27","Wed, 1972-08-09 06:43:57",675032,7171,0,igonzales@odom.biz,NaN,Ronald,NaN,facebook,MzwVhifKEKwtnoHqozJP,"Sun, 1986-01-12 08:58:25","Sun, 1982-01-03 14:45:30"
9,10,298884,1,1,"Sat, 1986-09-20 16:39:10","Wed, 1974-09-25 07:52:08",622465,7159,1,cynthiaprice@hotmail.com,Kevin,Beth,Pearson,twitter,NaN,"Sun, 2014-05-11 13:36:02","Wed, 2017-11-08 05:43:32"
10,11,117253,1,1,"Fri, 1971-06-18 11:29:48","Sat, 2008-03-01 20:03:34",626589,1588,1,hreed@thomas.com,NaN,Mitchell,Ryan,NaN,AMcdxceYDWSBDcOwGEyk,"Tue, 1974-08-06 15:24:27","Sat, 2001-03-03 22:23:35"
11,12,237398,1,1,"Fri, 2014-09-19 09:39:49","Sun, 1993-01-31 09:02:23",15142,7884,0,masonashley@yahoo.com,NaN,NaN,Logan,NaN,bifLfBsCwEaNmYpzclhm,"Mon, 2001-02-05 04:40:35","Thu, 1971-04-29 22:49:36"
12,13,559072,1,1,"Thu, 2005-08-11 09:30:51","Thu, 2007-09-06 14:00:12",682464,1799,0,racosta@strickland.com,NaN,Marcus,NaN,google,zjtFwZsNtUXuAEBaOMNM,"Fri, 1975-12-05 05:33:05","Sat, 2003-04-05 15:26:50"
13,14,108069,1,1,"Tue, 1995-06-20 09:21:07","Thu, 2006-04-13 06:15:29",535726,6525,1,velliott@brown-knox.com,Jonathan,Laura,Huynh,NaN,URtHYdvaNyIOtXkYnXwm,"Wed, 2010-09-01 19:18:45","Tue, 1990-08-21 21:21:30"
14,15,549500,1,1,"Mon, 1980-04-28 21:47:01","Mon, 1974-04-29 04:59:14",185186,5623,1,alyssasmith@robertson.net,Todd,NaN,NaN,google,NaN,"Thu, 2018-10-25 11:15:22","Sun, 1984-09-02 12:09:06"
15,16,396990,1,1,"Thu, 1972-03-09 21:27:32","Sun, 2017-05-28 00:30:17",106253,2177,0,jasminepeck@diaz-banks.biz,NaN,Brian,NaN,NaN,NaN,"Wed, 1981-10-07 05:08:05","Fri, 2003-11-14 16:18:51"
16,17,175961,1,1,"Sat, 1997-12-27 23:56:58","Fri, 1998-07-03 02:54:48",108800,6392,1,steven45@miller.biz,NaN,Dawn,NaN,NaN,NaN,"Tue, 1989-12-05 20:38:29","Fri, 2003-11-21 01:02:51"
17,18,159485,1,1,"Wed, 1991-02-27 11:41:37","Sat, 1973-11-17 15:20:25",58255,1096,0,alvaradosavannah@bryan.com,NaN,Vanessa,Murray,google,EYHAeOhicixoyprmFJEn,"Tue, 1999-06-29 21:50:25","Thu, 1973-01-04 22:27:41"
18,19,378031,1,1,"Thu, 1988-02-18 05:34:08","Wed, 1975-01-15 22:24:35",22616,4475,0,walteradrienne@bradley.com,Samantha,Matthew,NaN,facebook,NaN,"Fri, 1980-10-17 01:56:58","Sun, 2009-02-22 10:46:31"
19,20,636604,1,1,"Sun, 2015-08-16 23:34:49","Tue, 1991-07-09 00:45:21",235020,3645,0,johnsoncarrie@yahoo.com,Eric,Jessica,Malone,NaN,yvxSZwBpSSToeWHnXMLd,"Wed, 2003-04-30 07:29:23","Wed, 1991-08-28 00:45:06"
20,21,602649,1,1,"Mon, 1983-03-21 16:57:51","Mon, 2004-03-22 12:35:55",587442,8244,1,austinsanford@yahoo.com,NaN,Deborah,Simpson,NaN,fTnFrezZgZZGvrxkydOy,"Fri, 2004-04-23 03:17:09","Sun, 1972-07-02 04:39:50"
21,22,562319,1,1,"Mon, 2004-10-25 00:55:23","Sun, 2006-10-15 00:00:16",449421,4969,1,znolan@hernandez.com,Dana,Drew,Little,NaN,ksHKwudrOfXMVDomvylD,"Sat, 2000-08-05 08:14:18","Fri, 1981-08-21 07:48:00"
22,23,487695,1,1,"Sat, 2011-10-15 18:36:36","Tue, 2005-10-11 00:14:07",632373,1693,1,fisherconnie@gmail.com,NaN,Laurie,NaN,NaN,EuaOHHUxWWPYmuOQhdfh,"Sun, 2011-02-13 08:15:31","Mon, 1975-08-25 19:16:57"
23,24,369897,1,1,"Fri, 1985-08-09 05:31:15","Thu, 1997-06-05 05:16:38",22054,3459,0,adrian73@anderson-ortiz.com,Kenneth,Levi,Bell,NaN,NaN,"Tue, 2018-10-09 01:36:46","Wed, 1995-11-15 15:33:14"
24,25,343284,1,1,"Thu, 1989-02-16 12:31:22","Fri, 1976-08-13 20:56:04",442405,8039,1,joshua58@gmail.com,NaN,Roberto,NaN,NaN,ocsPWBOWCusNjYmpKqFr,"Thu, 2005-01-06 10:10:05","Tue, 2016-02-16 12:31:10"
25,26,562159,1,1,"Sat, 1981-03-21 03:21:02","Sun, 1997-12-14 13:05:47",266574,6142,0,stacyclayton@hotmail.com,NaN,Claudia,Holt,organic,gXCrqFVsrWIUtNMqmlTu,"Wed, 2013-07-17 05:27:46","Fri, 2006-09-01 01:15:33"
26,27,647005,1,0,"Mon, 1996-01-29 13:27:51","Tue, 1978-07-18 05:48:40",513553,8325,0,courtney19@gmail.com,Sarah,NaN,NaN,NaN,xTIsjEnGStUOMdDAlbRm,"Sun, 1971-10-31 10:26:54","Sun, 2006-06-04 00:12:11"
27,28,54029,1,1,"Mon, 1971-02-08 19:53:15","Wed, 2004-06-02 01:10:52",279148,2236,1,keith28@hotmail.com,NaN,Mary,NaN,NaN,RpxaPiraOZkxoSkFYTOU,"Wed, 1999-03-31 18:03:43","Tue, 2018-10-02 02:04:14"
28,29,218587,1,1,"Wed, 1974-01-02 20:33:47","Sun, 2006-07-16 12:44:14",200801,1519,1,sarahcollier@hotmail.com,Todd,Scott,NaN,NaN,WBNZoLqYOwPNPwJrGoAe,"Thu, 2015-01-29 23:51:02","Fri, 2020-05-22 22:54:28"
29,30,349300,1,1,"Sun, 2008-11-02 15:32:22","Mon, 2009-03-16 09:33:06",100219,9799,0,danielbarton@patterson.com,NaN,Kim,Mcbride,NaN,DwfCpVPTsCSpazDIZWio,"Sat, 1997-02-08 11:23:27","Sat, 2019-10-26 15:06:12"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349952,349953,657506,1,1,"Thu, 2019-05-09 07:12:12","Tue, 1994-08-23 13:21:57",56341,3238,0,clarkfrank@yahoo.com,Douglas,Jessica,Gordon,NaN,NaN,"Sat, 1994-06-18 12:25:12","Mon, 1985-07-08 11:46:56"
349954,349955,274716,1,1,"Sat, 1985-11-23 18:23:37","Thu, 2013-05-16 23:00:43",274,8569,1,proctorbrianna@perez.net,Thomas,Joshua,Trevino,twitter,NaN,"Thu, 2001-12-27 22:03:09","Wed, 2017-05-24 22:07:56"
349957,349958,236638,1,1,"Wed, 1978-05-10 01:53:34","Fri, 2011-05-27 06:13:11",270513,1136,1,stevenwalker@norton-campbell.com,Michael,Michelle,NaN,google,NaN,"Wed, 2019-06-19 08:47:43","Wed, 1992-09-02 09:37:21"
349959,349960,312208,1,1,"Fri, 1988-03-04 04:14:23","Tue, 1995-10-10 04:53:29",4799,497,1,acostalynn@jackson-johnson.org,NaN,Mark,Gill,NaN,NaN,"Sat, 1979-06-09 06:49:37","Fri, 1996-05-31 21:25:18"
349960,349961,690982,1,1,"Tue, 1994-03-15 22:22:17","Sun, 2005-07-31 03:58:35",214633,3286,1,kaitlynbolton@bush.biz,Amy,Jose,Rose,NaN,NaN,"Mon, 2001-04-16 11:54:14","Fri, 2020-06-12 00:11:47"
349961,349962,289473,1,0,"Mon, 1979-06-18 21:37:21","Sun, 1984-12-30 07:47:15",311928,4967,0,hjohnston@cohen-lynch.com,NaN,Darrell,Fletcher,NaN,nOOTnSVkYBioxuYaDwlY,"Tue, 1988-09-13 17:14:46","Tue, 2000-02-08 07:23:18"
349962,349963,588419,1,1,"Sat, 2016-10-08 04:58:21","Fri, 2008-12-05 13:33:38",359917,4137,0,arthurwilkins@watson-brown.com,William,Diane,Stanley,NaN,NaN,"Thu, 1983-07-07 07:06:41","Sat, 1984-07-21 19:19:23"
349963,349964,117747,1,1,"Thu, 1972-05-25 09:26:21","Tue, 1987-10-13 01:49:28",259525,9736,1,hillkimberly@hotmail.com,Kathy,Kyle,Phillips,google,pKTUyxXlGZrJQsxUobur,"Thu, 1995-12-21 20:50:59","Sun, 2013-12-22 10:15:34"
349965,349966,188546,1,1,"Sun, 1993-12-26 21:10:46","Sun, 2015-11-08 07:33:33",470935,7406,1,ndavis@marshall.info,Jennifer,Nathan,NaN,NaN,NaN,"Mon, 1982-06-14 01:25:29","Thu, 2016-08-04 01:18:54"
349966,349967,540274,1,1,"Sat, 1975-01-11 10:06:33","Fri, 2000-03-31 02:59:00",583240,501,1,glenn15@hotmail.com,NaN,Kristin,Nelson,NaN,DaskEmkoEWKkffvKXSNI,"Tue, 1988-04-12 07:38:09","Tue, 2010-01-12 09:28:14"
349967,349968,406884,1,1,"Tue, 1970-10-20 02:12:01","Fri, 1988-09-30 08:56:35",14223,4029,1,jacobturner@gmail.com,NaN,NaN,NaN,twitter,NaN,"Tue, 2004-07-06 20:41:47","Tue, 1987-06-23 16:55:52"
349968,349969,250043,1,0,"Thu, 2007-01-11 18:55:09","Thu, 1975-08-21 18:36:09",198334,3966,0,jessicaharris@rodriguez.com,Jesse,Mary,Moses,google,NaN,"Sat, 1996-01-20 10:06:00","Mon, 2017-11-06 04:06:20"
349969,349970,534870,1,1,"Thu, 2004-10-28 12:22:29","Wed, 1971-04-07 15:43:00",537219,7911,1,cameronhammond@gmail.com,NaN,Timothy,NaN,google,NaN,"Sun, 1989-09-17 01:30:13","Sat, 2019-11-16 16:06:07"
349971,349972,624008,1,1,"Sat, 2011-10-29 03:40:33","Wed, 2005-10-12 11:50:11",400946,8317,0,tlarsen@white.net,Kathleen,Joshua,Cooper,twitter,GcdYXnrjWBRkDEUJlCwZ,"Fri, 2003-05-16 11:36:58","Mon, 1974-12-02 00:55:15"
349972,349973,645257,1,1,"Tue, 2016-02-16 01:25:13","Mon, 1999-03-08 05:26:52",210119,8091,0,longmelissa@powell.net,NaN,Gabriella,NaN,NaN,aJEEoXZqkpwHfdUmBXiV,"Wed, 1970-02-04 19:17:30","Thu, 1980-01-24 07:51:09"
349975,349976,216591,1,1,"Sun, 1996-02-25 14:07:36","Tue, 2005-09-27 20:29:53",538622,2305,0,lyonslucas@gmail.com,Kayla,Gregory,NaN,NaN,NaN,"Fri, 1991-01-18 05:48:46","Sun, 2011-10-23 00:59:10"
349981,349982,342472,1,1,"Tue, 2010-09-07 15:27:06","Fri, 2019-08-16 15:27:03",243394,515,1,wilkinsjessica@carey.com,NaN,Kimberly,Thomas,NaN,NaN,"Thu, 1975-01-30 11:21:34","Tue, 2002-12-10 00:59:55"
349983,349984,368375,1,1,"Sat, 1999-10-23 04:54:02","Sat, 1999-06-05 18:05:17",533290,4526,0,pricechristine@moore.org,NaN,Susan,NaN,NaN,IeaJjngKXxoFbiYjRmwb,"Fri, 2002-05-03 03:08:45","Thu, 2019-01-10 06:59:36"
349984,349985,337048,1,1,"Mon, 1978-02-20 18:55:05","Mon, 1999-06-14 17:04:30",160168,2717,0,khayden@wilson-bentley.org,NaN,Matthew,NaN,twitter,NaN,"Wed, 2007-10-17 19:52:31","Mon, 1972-06-26 23:21:56"
349985,349986,308479,1,1,"Tue, 2017-12-26 12:51:56","Thu, 2006-11-16 06:09:13",507104,7716,1,francesroberts@martinez.com,Wendy,NaN,NaN,twitter,RhibEwwkGkAbfOFdyRTp,"Sun, 2008-12-21 16:46:10","Sun, 1973-01-14 07:45:09"
349987,349988,572925,1,0,"Mon, 2003-02-24 01:56:05","Fri, 2015-11-06 13:22:28",570227,6980,0,kwhite@baker.com,NaN,Thomas,NaN,twitter,NaN,"Fri, 2006-04-28 18:13:36","Thu, 1999-12-16 19:18:35"
349988,349989,629901,1,1,"Thu, 1990-08-23 06:37:54","Wed, 1978-09-27 18:55:07",632499,3703,1,mwillis@hotmail.com,NaN,Pamela,NaN,organic,NaN,"Sun, 2015-06-28 07:55:56","Wed, 2013-12-18 17:23:58"
349989,349990,329188,1,1,"Thu, 1996-08-22 15:16:22","Sun, 2012-12-23 04:12:38",36460,1476,1,jacksontimothy@gmail.com,NaN,NaN,Arnold,twitter,leKHEXPaLCJhdHNJukJU,"Sun, 2013-07-14 00:42:21","Fri, 2012-07-13 14:23:20"
349990,349991,328326,1,1,"Mon, 1976-07-12 22:09:12","Wed, 2004-12-01 14:23:25",559320,8555,0,edward93@roberts.com,NaN,Colton,Lewis,twitter,DgFRUqZWGvPdeLQNInCc,"Fri, 2008-04-18 10:32:23","Fri, 2013-04-05 15:35:23"
349992,349993,360166,1,1,"Wed, 2015-10-07 02:34:32","Mon, 2004-01-05 05:56:10",445648,4863,0,andrewwhite@yahoo.com,Michael,Manuel,Cook,google,NaN,"Mon, 2006-03-27 22:25:25","Sun, 2017-06-25 21:52:59"
349993,349994,46626,1,1,"Fri, 1993-07-23 02:31:40","Wed, 1970-03-18 23:08:14",432275,2825,1,ramirezclaudia@hudson.biz,Eileen,Laura,Luna,organic,NaN,"Tue, 1983-09-20 10:29:37","Fri, 1994-09-23 11:40:49"
349994,349995,402129,1,1,"Sun, 2007-09-30 02:07:08","Mon, 1995-06-12 09:13:31",516608,4867,1,smithjeremiah@walter.com,NaN,NaN,Richardson,NaN,NaN,"Fri, 2004-05-21 18:46:59","Sat, 2001-05-19 08:08:19"
349995,349996,221579,1,1,"Sun, 1974-09-22 21:20:50","Sat, 1970-03-07 23:01:52",510987,7841,1,susanhess@morton.com,NaN,Jennifer,Vasquez,organic,HPviTjMtRLPPAHmcmQdc,"Tue, 1983-11-01 07:17:30","Sat, 1978-09-02 15:52:19"
349996,349997,550808,1,1,"Sat, 2018-05-12 03:12:58","Wed, 1990-08-29 21:23:06",406304,670,1,greendalton@mata.com,NaN,NaN,NaN,NaN,QllWTwhCeHOTQveftjxP,"Thu, 1981-02-26 13:40:47","Thu, 2017-10-26 10:31:37"
349998,349999,570,1,1,"Sun, 1982-11-28 17:43:05","Fri, 2000-10-20 23:39:51",613668,8789,1,xcurtis@yahoo.com,Amanda,Nichole,Hurst,NaN,NaN,"Sat, 2018-05-26 12:03:06","Tue, 1980-06-03 18:43:26"

In [213]:
(alldata['chapter_id']==1).all()

True

In [149]:
# convert 1/0 columns to booleans
alldata.isunsub = alldata.isunsub.apply(lambda x: x==True)

In [156]:
alldata=alldata.rename(columns={"source": "code", "isunsub": "is_unsub",
                                "create_dt": "created_dt", "modified_dtcons": "updated_dt"})

In [157]:
alldata.to_csv('people.csv',index=False, columns=['email','code','is_unsub','created_dt','updated_dt'])

In [184]:
alldata=pd.read_csv('people.csv')

In [185]:
alldata

,email,code,is_unsub,created_dt,updated_dt
0,santiagoeric@hunt.info,NaN,True,"Sun, 2002-03-17 02:35:08","Sat, 2011-03-26 20:08:01"
1,amandabullock@cunningham-brown.com,organic,True,"Sat, 2012-12-15 00:23:24","Wed, 2010-03-03 12:38:21"
2,michael06@torres-baker.com,google,True,"Thu, 1987-12-17 00:22:11","Mon, 2012-11-26 18:07:20"
3,rosalessteven@yahoo.com,twitter,True,"Sun, 1989-07-16 22:14:29","Sun, 1980-08-10 09:19:53"
4,matthewjohnson@vazquez.com,facebook,True,"Tue, 1976-07-27 11:26:08","Mon, 2004-05-03 18:40:04"
5,qmcdaniel@hotmail.com,organic,True,"Thu, 2004-12-02 19:05:22","Tue, 2000-06-27 07:18:47"
6,castillosherri@yahoo.com,NaN,True,"Sun, 1972-05-28 06:31:49","Wed, 2006-02-22 12:52:35"
7,thomassanchez@harris-park.com,twitter,True,"Sat, 1997-08-16 03:42:55","Fri, 1971-03-05 21:36:16"
8,igonzales@odom.biz,facebook,True,"Sun, 1986-01-12 08:58:25","Sun, 1982-01-03 14:45:30"
9,cynthiaprice@hotmail.com,twitter,True,"Sun, 2014-05-11 13:36:02","Wed, 2017-11-08 05:43:32"
10,hreed@thomas.com,NaN,True,"Tue, 1974-08-06 15:24:27","Sat, 2001-03-03 22:23:35"
11,masonashley@yahoo.com,NaN,True,"Mon, 2001-02-05 04:40:35","Thu, 1971-04-29 22:49:36"
12,racosta@strickland.com,google,True,"Fri, 1975-12-05 05:33:05","Sat, 2003-04-05 15:26:50"
13,velliott@brown-knox.com,NaN,True,"Wed, 2010-09-01 19:18:45","Tue, 1990-08-21 21:21:30"
14,alyssasmith@robertson.net,google,True,"Thu, 2018-10-25 11:15:22","Sun, 1984-09-02 12:09:06"
15,jasminepeck@diaz-banks.biz,NaN,True,"Wed, 1981-10-07 05:08:05","Fri, 2003-11-14 16:18:51"
16,steven45@miller.biz,NaN,True,"Tue, 1989-12-05 20:38:29","Fri, 2003-11-21 01:02:51"
17,alvaradosavannah@bryan.com,google,True,"Tue, 1999-06-29 21:50:25","Thu, 1973-01-04 22:27:41"
18,walteradrienne@bradley.com,facebook,True,"Fri, 1980-10-17 01:56:58","Sun, 2009-02-22 10:46:31"
19,johnsoncarrie@yahoo.com,NaN,True,"Wed, 2003-04-30 07:29:23","Wed, 1991-08-28 00:45:06"
20,austinsanford@yahoo.com,NaN,True,"Fri, 2004-04-23 03:17:09","Sun, 1972-07-02 04:39:50"
21,znolan@hernandez.com,NaN,True,"Sat, 2000-08-05 08:14:18","Fri, 1981-08-21 07:48:00"
22,fisherconnie@gmail.com,NaN,True,"Sun, 2011-02-13 08:15:31","Mon, 1975-08-25 19:16:57"
23,adrian73@anderson-ortiz.com,NaN,True,"Tue, 2018-10-09 01:36:46","Wed, 1995-11-15 15:33:14"
24,joshua58@gmail.com,NaN,True,"Thu, 2005-01-06 10:10:05","Tue, 2016-02-16 12:31:10"
25,stacyclayton@hotmail.com,organic,True,"Wed, 2013-07-17 05:27:46","Fri, 2006-09-01 01:15:33"
26,courtney19@gmail.com,NaN,False,"Sun, 1971-10-31 10:26:54","Sun, 2006-06-04 00:12:11"
27,keith28@hotmail.com,NaN,True,"Wed, 1999-03-31 18:03:43","Tue, 2018-10-02 02:04:14"
28,sarahcollier@hotmail.com,NaN,True,"Thu, 2015-01-29 23:51:02","Fri, 2020-05-22 22:54:28"
29,danielbarton@patterson.com,NaN,True,"Sat, 1997-02-08 11:23:27","Sat, 2019-10-26 15:06:12"
...,...,...,...,...,...
275454,clarkfrank@yahoo.com,NaN,True,"Sat, 1994-06-18 12:25:12","Mon, 1985-07-08 11:46:56"
275455,proctorbrianna@perez.net,twitter,True,"Thu, 2001-12-27 22:03:09","Wed, 2017-05-24 22:07:56"
275456,stevenwalker@norton-campbell.com,google,True,"Wed, 2019-06-19 08:47:43","Wed, 1992-09-02 09:37:21"
275457,acostalynn@jackson-johnson.org,NaN,True,"Sat, 1979-06-09 06:49:37","Fri, 1996-05-31 21:25:18"
275458,kaitlynbolton@bush.biz,NaN,True,"Mon, 2001-04-16 11:54:14","Fri, 2020-06-12 00:11:47"
275459,hjohnston@cohen-lynch.com,NaN,False,"Tue, 1988-09-13 17:14:46","Tue, 2000-02-08 07:23:18"
275460,arthurwilkins@watson-brown.com,NaN,True,"Thu, 1983-07-07 07:06:41","Sat, 1984-07-21 19:19:23"
275461,hillkimberly@hotmail.com,google,True,"Thu, 1995-12-21 20:50:59","Sun, 2013-12-22 10:15:34"
275462,ndavis@marshall.info,NaN,True,"Mon, 1982-06-14 01:25:29","Thu, 2016-08-04 01:18:54"
275463,glenn15@hotmail.com,NaN,True,"Tue, 1988-04-12 07:38:09","Tue, 2010-01-12 09:28:14"
275464,jacobturner@gmail.com,twitter,True,"Tue, 2004-07-06 20:41:47","Tue, 1987-06-23 16:55:52"
275465,jessicaharris@rodriguez.com,google,False,"Sat, 1996-01-20 10:06:00","Mon, 2017-11-06 04:06:20"
275466,cameronhammond@gmail.com,google,True,"Sun, 1989-09-17 01:30:13","Sat, 2019-11-16 16:06:07"
275467,tlarsen@white.net,twitter,True,"Fri, 2003-05-16 11:36:58","Mon, 1974-12-02 00:55:15"
275468,longmelissa@powell.net,NaN,True,"Wed, 1970-02-04 19:17:30","Thu, 1980-01-24 07:51:09"
275469,lyonslucas@gmail.com,NaN,True,"Fri, 1991-01-18 05:48:46","Sun, 2011-10-23 00:59:10"
275470,wilkinsjessica@carey.com,NaN,True,"Thu, 1975-01-30 11:21:34","Tue, 2002-12-10 00:59:55"
275471,pricechristine@moore.org,NaN,True,"Fri, 2002-05-03 03:08:45","Thu, 2019-01-10 06:59:36"
275472,khayden@wilson-bentley.org,twitter,True,"Wed, 2007-10-17 19:52:31","Mon, 1972-06-26 23:21:56"
275473,francesroberts@martinez.com,twitter,True,"Sun, 2008-12-21 16:46:10","Sun, 1973-01-14 07:45:09"
275474,kwhite@baker.com,twitter,False,"Fri, 2006-04-28 18:13:36","Thu, 1999-12-16 19:18:35"
275475,mwillis@hotmail.com,organic,True,"Sun, 2015-06-28 07:55:56","Wed, 2013-12-18 17:23:58"
275476,jacksontimothy@gmail.com,twitter,True,"Sun, 2013-07-14 00:42:21","Fri, 2012-07-13 14:23:20"
275477,edward93@roberts.com,twitter,True,"Fri, 2008-04-18 10:32:23","Fri, 2013-04-05 15:35:23"
275478,andrewwhite@yahoo.com,google,True,"Mon, 2006-03-27 22:25:25","Sun, 2017-06-25 21:52:59"
275479,ramirezclaudia@hudson.biz,organic,True,"Tue, 1983-09-20 10:29:37","Fri, 1994-09-23 11:40:49"
275480,smithjeremiah@walter.com,NaN,True,"Fri, 2004-05-21 18:46:59","Sat, 2001-05-19 08:08:19"
275481,susanhess@morton.com,organic,True,"Tue, 1983-11-01 07:17:30","Sat, 1978-09-02 15:52:19"
275482,greendalton@mata.com,NaN,True,"Thu, 1981-02-26 13:40:47","Thu, 2017-10-26 10:31:37"
275483,xcurtis@yahoo.com,NaN,True,"Sat, 2018-05-26 12:03:06","Tue, 1980-06-03 18:43:26"

### make the groupby create-date and sum dataframe
(assumption is that we're still working the dataset where "we only care about chapter_id = 1" data)

In [189]:
alldata['acquisitions']=1
alldata['acquisition_date']=pd.to_datetime(alldata.created_dt,
                                                  infer_datetime_format=True)

In [190]:
 alldata['acquisition_date']=alldata['acquisition_date'].apply(lambda x: x.date())

In [193]:
alldata.groupby('acquisition_date').sum().to_csv('acquisition_facts.csv',
                                                columns=['acquisitions'])

In [192]:
alldata.groupby('acquisition_date').sum()

                  is_unsub  acquisitions
acquisition_date
1970-01-01             8.0            13
1970-01-02            13.0            14
1970-01-03             7.0            11
1970-01-04            17.0            18
1970-01-05            15.0            17
1970-01-06            15.0            17
1970-01-07            15.0            16
1970-01-08            17.0            17
1970-01-09            10.0            11
1970-01-10            17.0            19
1970-01-11             7.0             7
1970-01-12            11.0            11
1970-01-13            11.0            12
1970-01-14             9.0            12
1970-01-15            12.0            12
1970-01-16            17.0            19
1970-01-17            26.0            32
1970-01-18             9.0            10
1970-01-19            27.0            27
1970-01-20            13.0            14
1970-01-21            16.0            17
1970-01-22            11.0            13
1970-01-23            13.0            14
1970-01-24            13.0            17
1970-01-25            12.0            13
1970-01-26            16.0            20
1970-01-27             9.0            11
1970-01-28            14.0            16
1970-01-29            12.0            14
1970-01-30            18.0            21
...                    ...           ...
2020-06-02            20.0            23
2020-06-03            17.0            20
2020-06-04             8.0             8
2020-06-05            16.0            16
2020-06-06            15.0            17
2020-06-07            11.0            12
2020-06-08            11.0            13
2020-06-09            21.0            22
2020-06-10            13.0            15
2020-06-11             9.0             9
2020-06-12            12.0            12
2020-06-13            19.0            20
2020-06-14            14.0            17
2020-06-15            12.0            14
2020-06-16            15.0            17
2020-06-17            15.0            16
2020-06-18            12.0            14
2020-06-19             9.0            12
2020-06-20            10.0            12
2020-06-21            14.0            14
2020-06-22            18.0            20
2020-06-23            17.0            20
2020-06-24            19.0            19
2020-06-25            11.0            13
2020-06-26            13.0            15
2020-06-27            12.0            12
2020-06-28            17.0            18
2020-06-29            17.0            18
2020-06-30            10.0            13
2020-07-01            12.0            13

[18445 rows x 2 columns]